<!-- Bold: Memberships (product) -->
{% include 'bold_mem_helper' with 'product' %}
<!-- end Bold code -->
<form action="{{ product.metafields.charge_rabbit.subscribe_path }}" method="get" class="charge-rabbit-product">
  <h1>{{ product.title }}</h1>
  {% if product.featured_image %}
		<img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />
  {% endif %} 
  <p>{{ product.description }}</p>
  <input type="hidden" name="customer_id" value="{{customer.id}}"/>
  <select name="id">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">{% unless variant.title == 'Default Title' %}{{ variant.title }} - {% endunless %}{{ variant.metafields.charge_rabbit.amount | money }}/{{ variant.metafields.charge_rabbit.interval }}</option>
    {% endfor %}
  </select>
  <!-- Bold: Memberships (add to cart) -->
{% include 'bold-memberships-addtocart' %}
{% if bold_hide_item == false %}
<input type="submit" value="Join Now"/>
{% endif %}
<!-- end Bold code -->

</form>
